@model LAB5_HUYNHHUUNGHIA.Models.Chuyennganh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="text-light">
    <h4>Chuyennganh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCn">Chỉnh sửa</a> |
    <a asp-action="Index">Trở về trước</a>
</div>
